.navbar.navbar-1 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
  }
  .navbar.navbar-2 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
  }
  .navbar.navbar-3 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
  }
  .navbar.navbar-4 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
  }
  .navbar.navbar-5 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=f3e5f5');
  }
  .navbar.navbar-6 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
  }
  .navbar.navbar-7 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
  }
  .navbar.navbar-8 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
  }
  .navbar.navbar-9 .navbar-toggler-icon {
    background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
  }
  button:focus {
     outline: none;
    outline: none;
}
.navbar-light .navbar-toggler {
  color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
}
.nav-link{
  color: aliceblue;
}
#text-center{
  text-align: center;
}
#about{
  color: beige;
}
.table-fe{
  color: beige;
}
.foot{
  color: darkgrey;
}
.logo{
  text-decoration: none;
  color: darkgray;
}